$mud:    #284034;
$jungle: #7E852E;
$lime:   #AFCA08;
$crab:   #EA5045;

$theme-colors: () !default;
$theme-colors: map-merge(
  (
    "mud":     $mud,
    "jungle":  $jungle,
    "lime":    $lime,
    "crab":    $crab
  ),
  $theme-colors
);