$image-offset: 50px;

.footer {
    background-color: $eggshell;
    color: $mud;
    margin-top: $spacer * 4;

    &__wrapper {
        position: relative;
    }

    &__image {
        display: none;
    }

    &__menu {
        padding-bottom: $spacer;
    }

    
    &__logos {
        display: flex;
        align-items: center;
        flex-wrap: wrap;


        .logo {
            width: 50%;
            padding-right: $spacer;

            &__image {
                max-height: 60px;
            }
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {


        margin-top: $spacer * 10;

        &__image {
            display: block;
            height: calc(100% + #{$image-offset});
            width: calc(50% - #{$spacer});
            position: absolute;
            transform: translate(0, -#{$image-offset});
        }

        &__logos {
            height: 120px;
    
            .logo {
                width: auto;
                padding-right: $spacer * 2.5;
            }
        }

        &--contact {
            margin-top: 0;
        }
    }
}

.newsletter {

    text-align: center;

    &__title {
        font-weight: normal;
    }

    &__form, .row {
        padding: $spacer * 2 0;
    }

    &__select {
        width: 100%;
        margin-bottom: $spacer * 2;
        font-size: 20px;
        padding: $spacer * 0.5 0;
        padding-right: $spacer * 0.75;
    }
    
    .post-filter__select-wrapper {
        position: relative;

        &::before {
            top: 10px;
            right: 2px;
        }
    }

    &__input {
        -webkit-appearance: none;
        border: none;
        border-bottom: 2px solid currentColor;
        background-color: $eggshell;
        margin-bottom: $spacer * 2;
        width: 100%;
        font-size: 20px;
        padding: $spacer * 0.5 0;

        &::placeholder {
            color: $mud;
        }
    }

    &__submit {
        font-size: 20px;
        margin-top: $spacer;
        padding: $spacer * 0.5 $spacer * 1.5;

        &:hover {
            background-color: $mud;
            color: $white;
        }

        &.btn {
            border: 2px solid currentColor;
            border-radius: 50px;
        }
    }

    .row {
        justify-content: center;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        &__submit {
            margin-top: 0;
        }

        .row {
            justify-content: flex-start;
        }
    }
}

.nav-footer {
    text-align: center;

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        text-align: left;
    }
}