.header {

    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $eggshell;
    z-index: 1000;

    &__wrapper {
        display: flex;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        background-color: transparent;
        top: 0;
        bottom: auto;
        transform: translateY(-100%);
        transition: all 550ms ease-out;

        &__wrapper {
            justify-content: space-between;
        }

        &__logo-container {
            min-height: 138px;
        }

        &__logo-image {
            position: absolute;
            transition: opacity 500ms ease-out;

            .header--active & {
                opacity: 0;
            }
        }

        &__logo-inverse-image {
            opacity: 0;
            position: absolute;
            transition: opacity 500ms ease-out;

            .header--active & {
                opacity: 1;
            }
        }

        &--show {
            transform: translateY(0);
            position: fixed;
        }
        
        &.header--active {
            background-color: $eggshell;
            box-shadow: $jungle-shadow;
        }

        .admin-bar & {
            padding-top: 32px;
        }
    }
}