.header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $eggshell;
    display: flex;

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        position: relative;
        background-color: transparent;
        justify-content: space-between;
    }
}