.header {

    display: none;

    &__wrapper {
        display: flex;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        width: 100%;
        background-color: $white;
        background-color: transparent;
        top: 0;
        left: 0;
        bottom: auto;
        transform: translateY(-100%);
        transition: all 550ms ease-out;
        min-height: 194px;
        z-index: 1000;

        &__wrapper {
            justify-content: space-between;
        }

        &--show {
            display: grid;
            transform: translateY(0);
            position: fixed;
        }
        
        &__submenu {
            color: $black;
            font-size: 18px;
            margin-top: -30px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 250ms ease-out;

        
            &.active {
                min-height: 140px;
                max-height: 500px;
            }
        }


        &.header--active {
            background-color: $white;
            box-shadow: $jungle-shadow;

            .header-logo__svg {
                display: none;

                &.active {
                    display: block;
                }

                svg {
                    fill: $black;
                }
            }
        }

        .admin-bar & {
            padding-top: 32px;
        }
    }
}

.header-logo {
    &__container {
        display: block;
    }

    &__svg {
        display: none;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {


        &__image {
            margin-left: $spacer;
        }

        &__svg {
            display: block;

            svg {
                fill: $white;
                transition: fill 0.3 ease-in;
            }
        }
    }
}

.mobile-header {
    display: flex;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: $white;
    z-index: 1000;
    max-height: 56px;
    
    &__wrapper {
        display: flex;
        // padding: $spacer * 0.5 0;
        width: 100%;
    }

    &__logo {
        display: flex;
        justify-content: center;
        margin: .5rem 0;
        width: 25%;
        border-right: 1px solid $mud;
    }

    &__link {
        height: 100%;   
        width: max-content;

        & img {
            max-height: 100%;   
            width: auto;
        }
    }

    #nav-mobile {
        width: 60%;
        display: flex;
    }

    .nav-mobile {
        display: flex;

        &__item {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            padding: $spacer * 0.5 0;
        }

        &__link {
            border-right: 1px solid $mud;
            color: $mud;
            font-weight: bold;
            text-transform: uppercase;
        }
    }

    .hamburger {
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: $spacer * 0.5 0;

        &__inner, &__inner:after, &__inner:before {
            background-color: $mud;
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        display: none;
    }
}