.nav-main {

    width: 100%;
    display: flex;
    align-content: center;

    &__link {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        .header--active & {
            color: $black;
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        justify-content: flex-end;
        margin-top: $spacer * 2;

        &__item {
            border-top: 2px solid transparent;
            padding: $spacer $spacer * 2;

            &.active {
                border-color: $lime;
            }

            &.current {
                border-color: $white;
            }
        }
    }
}

.nav-footer {

    &__item {
        padding: $spacer * 0.25 0;
    }
    
    &__link {
        color: $mud;
    }
}