.nav-main {

    width: 100%;
    display: flex;
    align-content: center;

    &__item {
        border-top: 2px solid transparent;
    }

    &__link {
        color: $black; /* should be white */
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        justify-content: flex-end;
    }
}