.nav-main {

    width: 100%;
    display: flex;
    align-content: center;

    &__link {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;

        .header--active & {
            color: $black;
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        justify-content: flex-end;
        margin-top: $spacer * 2;
        transition: margin-top 0.25s ease-out;

        .header--active & {
            margin-top:  $spacer;
        }

        &__item {
            border-top: 2px solid transparent;
            padding: $spacer $spacer * 2;

            &.active {
                border-color: $lime;
            }

            &.current {
                border-color: $white;
            }
        }
    }

}

.nav-sub {
    padding-bottom: 30px;

    &__item {
        padding: $spacer * 0.5 0;
        border-bottom: 1px solid $lime;

        &:first-child {
            border-top: 1px solid $lime;
        }
    }

    &__link {
        color: $white;
        font-weight: bold;
        text-decoration: none;
        text-transform: none;

        .header--active & {
            color: $black;

            &:hover {
                color: $lime;
            }
        }
    }
}

.nav-footer {

    &__item {
        padding: $spacer * 0.25 0;
    }
    
    &__link {
        color: $mud;
    }
}

.nav-mobile {
    display: flex;
    justify-content: space-evenly;
    margin: .5rem 0;
    width: 100%;

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 0 $spacer * 0.25;
    }

    &__divider {
        width: 1px;
        height: 100%;
        background-color: $mud;
    }

    &__link {
        color: $mud;
        font-weight: bold;
        text-transform: uppercase;
    }
}

.nav-mobile-sub {

    &:first-child{
        padding-top: $spacer;
    }

    &__item {
        font-weight: bold;
        font-size: 20px;
        padding-top: $spacer * 2;
    }
}