<div class="layout">
    {% for content in post_content %}
        {% if content.acf_fc_layout == 'accordion' %}
            <div class="layout__container">
                <div class="row">
                    <div class="{{ column_layout_classes }}">
                        {% include 'modules/accordion.twig' with {} %}
                    </div>
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'call_to_action' %}
            <div class="layout__container container">
                {% include 'modules/cta.twig' with { link: content.link} %}
            </div>
        {% elseif content.acf_fc_layout == 'double_image' %}
            <div class="layout__container container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        {% include 'modules/double_image.twig' %}
                    </div>
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'image' %}
            <div class="layout__container container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        {% include 'modules/image.twig' %}
                    </div>
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'logos' %}
            <div class="layout__container container">
                {% include 'modules/logos.twig' %}
            </div>
        {% elseif content.acf_fc_layout == 'numbers' %}
            <div class="layout__container">
                {% include 'modules/numbers.twig' %}
            </div>
        {% elseif content.acf_fc_layout == 'read_more' %}
            <div class="layout__container">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
                            {% include 'modules/read_more.twig' with {} %}
                        </div>
                    </div>
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'image_slider' %}
            <div class="layout__container">
                {% include 'modules/image_slider.twig' with {} %}
            </div>
        {% elseif content.acf_fc_layout == 'tour_list' %}
            <div class="layout__container container">
                {% include 'modules/tour-list.twig' with {} %}
            </div>
        {% elseif content.acf_fc_layout == 'target_groups' %}
            <div class="layout__container">
                {% include 'modules/target_group.twig' with {} %}
            </div>
        {% elseif content.acf_fc_layout == 'teaser_slider' %}
            <div class="layout__container">
                {% include 'modules/teaser_slider.twig' with {} %}
            </div>
        {% elseif content.acf_fc_layout == 'testimonial' %}
            <div class="layout__container container">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1">
                            {% include 'modules/testimonial_slider.twig' with {} %}
                    </div>
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'text' %}
            <div class="layout__container container">
                <div class="row">
                    <div class="col-12 {% if content.margin_column %}col-md-6{% else %}col-md-10{% endif %} offset-md-1 col-lg-5 offset-lg-3">
                        {% include 'modules/text.twig' with {} %}
                    </div>
                    {% if content.margin_column %}
                        {% include 'layouts/margin-column.twig' with {} %}
                    {% endif %}
                </div>
            </div>
        {% elseif content.acf_fc_layout == 'video' %}
            <div class="layout__container container">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1">
                        {% include 'modules/video.twig' with { video: content } %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>