.hero {

    margin-bottom: $spacer * 4;

    & > * {
        position: relative;
    }

    &__image {
        height: 360px;
    }

    &__title {
        margin-top: $spacer;
        margin-bottom: $spacer;
        position: relative;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        margin-bottom: $spacer * 2;

        &__image {
            height: 440px;

            img {
                filter: brightness(0.8);
            }
        }

        &__wrapper {
            // height: 100%;
        }

        &__title {
            bottom: -$spacer * 1.8;
            margin-top: 0;
            margin-bottom: 0;
            max-width: 33.3%;
            position: absolute;
        }

        &__intro {
            margin-top: $spacer * 4;
            padding-left: 45px;
        }

        &__feature {
            margin-top: $spacer;
            padding-left: 45px;
        }

        &__map-image {
            padding-top: $spacer * 4;
            padding-left: $spacer * 2;
            padding-bottom: $spacer * 2;
        }
    }

    &--alternate {

        @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
            
            height: 900px;
            padding-top: 180px;
            overflow: hidden;
            position: relative;

            .hero__title {
                max-width: 100%;
                padding-top: 90px;
                position: relative;
            }

            .hero__image {
                left: 65%;
                position: absolute;
                height: 710px;
                width: 710px;

                &::before {
                    content: "";
                    background: $wine;
                    mask-image: $jungle-clip-path;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    mask-position: left;
                    height: 1100px;
                    width: 1100px;
                    display: block;
                    transform: translate(-40%,-65%);
                }
            }

            .hero__intro {
                padding-left: 45px;
            }
        }
    }
}

.hero-clear {

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        margin-top: -280px;
    }
}