.hero {
    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        & > * {
            position: relative;
        }

        &__image {
            height: 440px;
        }

        &__wrapper {
            height: 100%;
        }

        &__title {
            margin-top: 0;
            margin-bottom: 0;
            bottom: -$spacer * 1.8;
            max-width: 33.3%;
            position: absolute;
        }

        &__intro {
            margin-top: $spacer * 4;
            padding-left: $spacer * 2;
        }

        &__feature {
            margin-top: $spacer;
            padding-left: $spacer * 2;
        }

        &--home {
            .hero__image {
                height: 100vh;

                .image-fit__image--masked {
                    mask-position: left;
                    transform: translate(125px,125px);
                }

                &::before {
                    content: "";
                    background: $lime;
                    mask-image: $jungle-clip-path;
                    mask-repeat: no-repeat;
                    mask-size: contain;
                    mask-position: left;
                    height: 75%;
                    width: 75%;
                    display: block;
                    transform: translate(0%, -25%);
                }
            } 
        }
    }
}