%image_fullsize {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.image-fit {
    @extend %image_fullsize;
    z-index: 0;
    overflow: hidden;

    &__image {
        @extend %image_fullsize;
        display: block;
        object-fit: cover;
        z-index: 1;

        &--masked {
            mask-image: $jungle-clip-path;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
        }

    }

    &__copyright {
        position: absolute;
        color: $white;
        cursor: default;
        bottom: $spacer;
        right: $spacer;
        font-size: 11px;
        z-index: 1;
    }
}
// .image-fluid {
// }

.image-module {
    
    &__image-container {
        padding-top: 60%;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        &__image-container {
            padding-top: 0%;
            height: 520px;
        }
    }
}

.double-image-module {
    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {
        height: 420px;

        &__image-container {
            position: absolute;
            height: 90%;
            width: 52.5%;

            &:first-child {
                top: 0;
                left: 0;
            }

            &:last-child {
                bottom: 0;
                right: 0;
            }
        }
    }
}