.modal {

    background-color: rgba($white, 0.94);
    color: $mud;

    &__dialog {
        max-width: 100%;
        margin-left: $spacer;
    }

    &__content {
        background-color: transparent;
        border: none;
        border-radius: 0;
    }
}