body {
    background-color: $mud;
    color: $white;
}

.modal {

    background-color: rgba($mud, 0.85);

    &__dialog {
        max-width: 100%;
        margin-left: $spacer;
    }

    &__content {
        background-color: transparent;
        border: none;
        border-radius: 0;
    }
}