.modal {

    background-color: rgba($white, 0.94);
    color: $mud;

    &__dialog {
        max-width: 100%;
        margin-left: $spacer;
    }

    &__content {
        background-color: transparent;
        border: none;
        border-radius: 0;
    }

    .close {
        position: absolute;
        top: $spacer * 5;
        right: $spacer * 5;
        z-index: 1;
        background-color: $eggshell;
        border: 2px solid currentColor;
        border-radius: 50%;
        color: currentColor;
        width: 36px;
        height: 36px;
        font-size: 32px;
        display: flex;
        align-self: center;
        justify-content: center;
        & > * {
            margin-top: -4px;
        }
    }

    &--nav {
        background-color: $mud;
        color: $white;

        .close {
            bottom: 10%;
            top: auto;
            right: $spacer ;
            z-index: 1;
            background-color: transparent;
            border: none;
        }

        .search {
            padding-top: $spacer * 3;

            &__input {
                border-bottom: 1px solid $white;
    
                &::placeholder {
                    color: $white;
                    font-size: 20px;
                }
            }
        }
    }
}