.numbers {
    position: relative;

    &__image img {
        filter: brightness(0.7);
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        justify-content: space-evenly;
        padding-bottom: $spacer * 6;
        padding-top: $spacer * 4;
    }

    &-slider {
        height: 320px;
    }

    .flickity-slider {
        display: flex;
        align-items: center;
    }

    .flickity-page-dots {
        bottom: -$spacer * 2.25;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        .flickity-page-dots {
            display: none;
        }
    }
}

.number {
    font-weight: bold;
    text-align: center;
    margin-bottom: $spacer * 3;

    &__hr {
        border-color: $white;
        border-style: solid;
        border-width: 2px;
        margin-bottom: $spacer * 1.5;
        margin-top: $spacer * 1.5;
        width: 88px;
    }

    &__title {
        font-family: $merriweather;
        font-size: 75px;
    }

    @media screen and (min-width: map-get($grid-breakpoints, "md")) {
        margin-bottom: $spacer * 0.5;
    }
}