.numbers {
    position: relative;

    &__image img {
        filter: brightness(0.7);
    }

    &__wrapper {
        display: flex;
        position: relative;
        justify-content: space-evenly;
        padding-bottom: $spacer * 6;
        padding-top: $spacer * 4;
    }

}

.number {
    font-weight: bold;
    text-align: center;

    &__hr {
        border-color: $white;
        border-style: solid;
        border-width: 2px;
        margin-bottom: $spacer * 1.5;
        margin-top: $spacer * 1.5;
        width: 88px;
    }

    &__title {
        font-family: $merriweather;
        font-size: 75px;
    }
}