.post-masonry {
    margin-top: $spacer * 4;

    padding-left: $spacer * 0.5;
    padding-right: $spacer * 0.5;

    .tease {
        padding-left: $spacer * 0.5;
        padding-right: $spacer * 0.5;
    }
}