.read-more {
    &__button {
        background: transparent;
        border: none;
        color: $lime;
        font-weight: bold;
    }

    &__text {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out;
    }

    &--open {
        .read-more__text {
            max-height: 5000px;
        }
    }
}