.related-articles {

    &__title {
        font-size: 20px;
        text-align: center;
        padding-bottom: $spacer;
    }
}

.related-article {
    position: relative;
    margin-bottom: $spacer * 2.5;

    &__image {
        position: relative;
        padding-top: 60%;
    }

    &__wrapper {
        padding-left: $spacer;

        & > & {
            padding-left: 0;
        }
    }

    &__kicker {
        display: none;
    }

    &__text {
        padding-left: $spacer;
    }

    &__link {
        padding-left: $spacer;
        padding-top: $spacer;
        display: block;
        font-weight: bold;
    }

    .image-fit__image {
        transition: transform 1s ease-in;
    }

    &:hover {
        .image-fit__image {
            transform: scale(1.05);
            transition-duration: 3s;
        }
    }

    @media screen and (min-width: map-get($grid-breakpoints, "lg")) {

        margin-bottom: 0;
        
        &__image {
            height: 360px;
            padding-top: 0;
        }

        &__wrapper {
            position: relative;
            
            & > & {
                bottom: -$spacer * 1.25;
                max-width: 68%;
                position: absolute;
            }
        }

        &__kicker {
            display: block;
            font-size: 18px;
        }

        &__title {
            font-size: 32px;
            line-height: 44px;
            margin-top: $spacer * 0.375;
            margin-bottom: 0;
        }

        &__text {
            margin-top: $spacer * 1.8;
            padding-top: $spacer;
            max-width: 80%;
        }

        &--large {
            .related-article__image {
                height: 480px;
            }
            .related-article__link, .related-article__text, .related-article__wrapper {
                margin-left: 50%;
            }
            .related-article__wrapper > .related-article__wrapper {
                margin-left: 0;
            }
            .related-article__text {
                max-width: 40%;
            }
        }
    }
}