.target-groups {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;

    &__nav {
        border-right: 2px solid $white;
        padding-top: $spacer * 1.5;
        width: 160px;
    }

    &__item {
        padding: 0;
        border-top: 1px solid $eggshell;

        &:last-child {
            border-bottom: 1px solid $eggshell;
        }
    }

    &__nav-link {
        display: block;
        padding: $spacer * 0.5;

        &.active {
            background: rgba($white,0.1);
            font-weight: bold;
        }
    }

    &__content {
        display: flex;
        padding-left: $spacer * 3;
    }

    &__pane {
        display: none;
        padding-bottom: $spacer * 3;

        &.fade {
            animation: fadeIn 1s ease-in;
        }
    }

    &__title {
        font-weight: normal;
    }

    &__link {
        display: inline-block;
        font-weight: bold;
        margin-top: $spacer * 2;
    }

    &__image {

        padding-top: 80%;
        position: relative;
        width: 50%;

        &:last-child {
            padding-top: 45%;
            position: absolute;
            width: 70%;
            bottom: - $spacer * 3;
            left: 30%;
        }
    }
}