.tease {
    margin-top: $spacer * 2;

    &__image {
        padding-top: 68%;
        position: relative;
    }

    &__wrapper {
        padding: 20px;
        background: rgba($white,0.1);
    }

    &__title {
        font-size: 22px;
        line-height: 32px;
    }
    &--warning {
        .tease__wrapper {
            background: $crab;
        }
    }
}