.tease {
    margin-top: $spacer * 1;

    &__image {
        padding-top: 68%;
        position: relative;
    }

    &__wrapper {
        padding: 20px;
        background: rgba($white,0.1);
    }

    &__title {
        font-size: 22px;
        line-height: 32px;
    }
    &--warning {
        .tease__wrapper {
            background: $crab;
        }
    }

    &__type {
        font-weight: bold;
    }

    &--article {
        
        .tease__wrapper {
            padding: 20px;
            background: transparent;
        }

        .tease__kicker {
            margin-bottom: $spacer * 0.5;
        }
        
        .tease__title {
            margin-top: $spacer * 0.5;
        }
    }
}