.tour-list {

    padding-left: $spacer * 0.5;
    padding-right: $spacer * 0.5;

    & > [class^="col-"] {
        padding-left: $spacer * 0.5;
        padding-right: $spacer * 0.5;
    }

    .image-fit__copyright {
        display: none;
    }
}