@font-face {
    font-family: 'merriweather';
    font-weight: bold;
    font-style: normal;
    src: url('../assets/fonts/Merriweather-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'merriweather';
    font-weight: normal;
    font-style: normal;
    src: url('../assets/fonts/Merriweather-Regular.ttf') format('truetype');
}