body {
    background: $eggshell;
}

h1, h2, h3, h4, h5, h6 {
    color: $mud;
}

a {
    color: $crab;
}

a:active, a:hover {
    color: darken($crab, 20%);
}

.wp-core-ui .button, .wp-core-ui .button-secondary {
    color: $crab;
    border-color: $crab;
    background: $eggshell;
}

.wp-core-ui .button-link {
    color: $jungle;
}

[data-layout="testimonial"] img {
    clip-path: circle(100px at center);
}

#wpadminbar {
    color: $eggshell;
    background: darken($mud, 7.5%);
}

#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus {
    background: $mud;
    color: $crab;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover {
    color: $crab;
}

#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label {
    color: $crab;
}

#wpadminbar .menupop .ab-sub-wrapper, #wpadminbar .shortlink-input {
    background: $mud;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
    background: lighten($mud, 20%);
}

#adminmenu, #adminmenu .wp-submenu, #adminmenuback, #adminmenuwrap {
    background-color: $mud;
}

#adminmenu .awaiting-mod, #adminmenu .update-plugins, .yoast-issue-counter {
    background-color: $crab;
}

#adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu.sub-open, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, #adminmenu a.wp-has-current-submenu:focus+.wp-submenu, .no-js li.wp-has-current-submenu:hover .wp-submenu {
    background-color: lighten($mud, 20%);
}

#adminmenu .wp-has-current-submenu .wp-submenu .wp-submenu-head, #adminmenu .wp-menu-arrow, #adminmenu .wp-menu-arrow div, #adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, .folded #adminmenu li.current.menu-top, .folded #adminmenu li.wp-has-current-submenu {
    background: darken($mud, 7.5%);
}

#adminmenu li.menu-top:hover, #adminmenu li.opensub>a.menu-top, #adminmenu li>a.menu-top:focus {
    background-color: darken($mud, 7.5%);;
    color: $crab;
}

#adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before {
    color: $crab;
}

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu a:hover, #adminmenu li.menu-top>a:focus {
    color: $crab;
}

#collapse-button:hover {
    color: $crab;
}

#dashboard-widgets h3, #dashboard-widgets h4, #dashboard_quick_press .drafts h2 {
    color: $mud;
}

.wp-core-ui .button-secondary:hover, .wp-core-ui .button.hover, .wp-core-ui .button:hover {
    background: $eggshell;
    border-color: $mud;
    color: $mud;
}

.wrap .add-new-h2, .wrap .add-new-h2:active, .wrap .page-title-action, .wrap .page-title-action:active {
    border: 1px solid $crab;
    color: $crab;
    background: $eggshell;
}

.wrap .add-new-h2:hover, .wrap .page-title-action:hover {
    background: $eggshell;
    border-color: $mud;
    color: $mud;
}

.wp-admin select {
    color: $mud;
    border-color: $jungle;
}

.wp-admin select:hover {
    color: darken($mud, 20%);
    border-color: $mud;
}