<div class="numbers">
    <div class="numbers__image">
        {% include "partial/image_fit.twig" with { 'image': content.image, 'masked': false } %}
    </div>
    <div class="container">
        <div class="numbers__wrapper">
            {% for number in content.numbers %}
                <div class="number col-10 col-md-3 offset-md-0">
                    <div class="number__title">{{ number.number }}</div>
                    <hr class="number__hr">
                    <div class="number__text">{{ number.text }}</div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>