<div class="testimonial-slider">
    {% for slide in content.slides %}
        <div class="testimonial-slider__slide carousel-cell">
            {% set image = slide.image %}
            <div class="testimonial-slider__image-wrapper col-6 col-lg-3">
                <div class="testimonial-slider__image image--rounded">
                    {% include 'partial/image_fit.twig' with { 'rounded': true, img_type: "medium" } %}
                </div>
            </div>
            <div class="testimonial-slider__wrapper col-6 col-lg-8">
                <div class="testimonial-slider__text quote">
                    {{ slide.text }}
                </div>
                <div class="testimonial-slider__author">
                    {{ slide.description }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>