{% set placeholder = TimberImage(video.placeholder) %}

<div class="video">
    <div
        class="lazyframe lozad video__frame"
        data-vendor="youtube"
        data-background-image="{{ placeholder.src("large") }}"
        data-src='{{ video.url }}'>
    </div>
</div>