{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
	<div class="content__no-hero container">
		{# TO-DO: Add filter #}
		<div id="post-masonry" class="post-masonry">
			{% for post in news %}
				{% include ['tease.twig'] %}
			{% endfor %}
		</div>
		
		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>


	{% include "partial/related_articles.twig" %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ site.theme.link }}/dist/archive.min.js"></script> 
{% endblock %}