{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "base.twig" %}

{% block content %}
	<div class="content__no-hero container">
		<div class="post-filter">
			<div class="post-filter__title">Ich interessiere mich für</div>
			<div class="post-filter__select-wrapper">
				{# TO - DO Filter only used categories #}
				{% set category_list = [] %}
				{% for post in news %}
					{% set post_categories = post.categories %}
					{% for category in post_categories %}
						{% if category.name not in category_list %}
							{% set category_list = category_list|merge([category]) %}
						{% endif %}
					{% endfor %}
				{% endfor %}

				<select class="post-filter__select">
					<option value="all">alle Themen</option>
					{% for category in category_list %}
						<option value="{{ category.slug }}">{{ category.name }}</option>
					{% endfor %}
				</select>
			</div>
			
		</div>

		<div id="post-masonry" class="post-masonry">
			{% for post in news %}
				{% include ['tease.twig'] %}
			{% endfor %}
		</div>
		
		{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 2}) } %}
	</div>


	{% include "partial/related_articles.twig" %}
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ site.theme.link }}/dist/archive.min.js"></script> 
{% endblock %}