<footer id="footer" class="footer">
    <div class="footer__image">

    </div>
    <div class="footer__newsletter">
        {% include "partial/newsletter.twig" %}
    </div>
    <div class="footer__menu">
    
    </div>
    <div class="footer__logos">

    </div>
</footer>