<footer id="footer" class="footer {% if is_contact %}footer--contact{% endif %}">
    {% set footer = options.footer %}
    <div class="footer__wrapper">
        <div class="footer__image">
            {% set image = footer.footer_image %}
            {% include 'partial/image_fit.twig' %}
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 offset-lg-6">
                    <div class="footer__newsletter">
                        {% include "partial/newsletter.twig" %}
                    </div>
                    <div class="footer__menu">
                        {% include "menu.twig" with {'menu': legal_menu.get_items, 'class': 'nav-footer'} %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="footer__logos col-12 col-lg-10 offset-lg-1">
                {% for logo in footer.partner_logos %}
                    {% include 'partial/logo.twig' with { logo: logo } %}
                {% endfor %}
            </div>
        </div>
    </div>
</footer>