{% extends "base.twig" %}

{% set tour = post.get_field('tour_meta') %}
{% set meta = post.meta %}	

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="hero">
                <div class="hero__image">
                    {% include "partial/image_fit.twig" with { 'image': meta.featured_image } %}
                    <div class="hero__wrapper container">

                    </div>
                </div>
			</div>
			
			<div class="container urwald-oa">
				<div class="oax-top-cont"></div>
			</div>
			
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}

{% block scripts %}
    {{ parent() }}
	{% set tour_id = tour.tour_id %}
    <script type="deferjs">

		const documentHead = document.head;

        // load outdooractive javascript API
        let element = document.createElement('script');

        element.setAttribute('type', 'text/javascript');
        {# element.setAttribute('src',  "https://www.outdooractive.com/alpportal/oa_head.js?proj=api-dev-oa&key=yourtest-outdoora-ctiveapi&callback=initOA&lang=de"); #}
        element.setAttribute('src',  "http://www.outdooractive.com/alpportal/oa_head.js?proj=api-fv-thueringer-urwaldpfade&key=ISJMRUV9-EMWGKNCR-4OSSF7HO&callback=initOA&lang=de");
        documentHead.appendChild(element);

        function initOA() {

			var id = "{{ tour_id }}"; 
			var conf = { 
				id: id,
				actionOpenType: "in-page"
			};

			// instantiate FlexView API detail page
			dp = oa.api.detailpage( conf );
		}
	</script> 
{% endblock %}