{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<div class="content__no-hero container">
				<div class="post-header row">
					{% set meta = post.meta %}
					{# TO-DO: Add post header #}
					<h2>{{ meta.title }}</h2>
				</div>
			<div>
			<section class="{{post.post_type}}__content">
				{% set post_content = post.get_field('content') %}
				{% include "layouts/content_simple.twig" %}
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
