<div class="hero">
    <div class="hero__image">
        {% include "partial/image_fit.twig" with { image: meta.featured_image } %}
    </div>
    <div class="hero__wrapper container">
        <h1 class="hero__title">{{ meta.title }}</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="hero__intro copy-intro">
                    {{ meta.intro }}
                </div>
                <div class="hero__feature">
                    {% include "layouts/content_meta_featured.twig" %}
                </div>
            </div>
            <div class="col-lg-7">
                <div class="hero__map-image">
                    {% set map = post.get_field('map') %}
                    {% if map.show_map %}
                        {% include "partial/image_fluid.twig" with { 'image': map.map_image } %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>