<div class="modal fade" id="modal-{{ id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="modal__dialog modal-dialog" role="document">
        <div class="modal__content modal-content">
            {% include "layouts/content_simple.twig" with { post:overlay } %}
        </div>
    </div>
</div>