{% if posts.pagination.pages is not empty %}
    <nav class="pagination layout__container">
        <div class="pagination__list">
            {% if pagination.next %}
                <a class="pagination__next btn btn--rounded" href="{{ pagination.next.link }}">
                    Weitere {{ name }} anzeigen
                </a>
            {% endif %}
        </div>
    </nav>
{% endif %}
