<div class="share">
    <div id="share" class="share__btn"><span class="share__highlight">Inhalt teilen</span></div>
    <div class="share__wrapper">
        <ul class="share__list">
            <li class="share__item"><i class="fab fa-facebook-f"></i></li>
            <li class="share__item"><i class="fab fa-twitter"></i></li>
            <li class="share__item"><i class="fab fa-whatsapp"></i></li>
            <li class="share__item"><i class="far fa-envelope"></i></li>
        </ul>
    </div>
</div>
